<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>かんたんろだ利用規約</title>
<meta name="format-detection" content="telephone=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="http{{if .TLS}}s{{end}}://{{.Host}}/favicon.ico">
<link rel="icon" href="http{{if .TLS}}s{{end}}://{{.Host}}/favicon.ico">
<link rel="stylesheet" href="http{{if .TLS}}s{{end}}://{{.Host}}/css/bootstrap.min.css?20160507a">
<link rel="stylesheet" href="http{{if .TLS}}s{{end}}://{{.Host}}/css/default.css?20151122a">
</head>
<body class="no-thank-yu">
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">かんたんろだ</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="http://jbbs.shitaraba.net/bbs/read.cgi/internet/22074/1420633148/">掲示板</a></li>
				<li><a href="/tos.html">利用規約</a></li>
				<li><a href="http://goo.gl/forms/ONHnp6cLUY">お問い合わせ</a></li>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</nav>

<div id="container" class="container">
	<h1 class="page-header">かんたんろだ利用規約</h1>

	<div>
		このサービスは、画像ファイルを手軽に共有することを目的としています。
		<p>本サービスをご利用頂く方は、以下の規約に同意頂いたものとみなします。</p>
		<h3>本規約の範囲及び変更</h3>
		<p>本規約は「かんたんろだ」（以下本サービス）の利用に関し、全ての利用者に適用されるものとします。</p>
		<p>本規約の内容は、必要に応じて、利用者の同意や事前の予告なしに変更されることがあります。</p>
		<h3>使用条件</h3>
		<p>本サービスは、本利用規約を遵守する限りにおいて、誰でも自由に利用可能とします。</p>
		<p>アップロードするファイルの取り扱い及びその責任は、アップロードした利用者が責任を負うものとします。</p>
		<p>運営者は、本規約で定めるところの禁止事項に反するファイルを、利用者の同意なく削除することができるものとします。</p>
		<p>運営者は権利者や利用者からの申し立てにより、アップロードされたファイルを同意なく削除することがあります。</p>
		<p>法令に基づいた機関から発信者情報の開示が求められた場合、法令に従い要求された発信者情報を開示します。</p>
		<h3>禁止事項</h3>
		<p>利用者が以下の行為を行うことを禁じます。</p>
		<ol>
			<li>肖像権、著作権を著しく侵害する行為</li>
			<li>運営者または第三者に損害を与える行為、または損害を与える恐れのある行為</li>
			<li>公序良俗に反する行為、またはその恐れのある行為</li>
			<li>コンピュータウィルス等有害なプログラムを使用または提供する行為</li>
			<li>法令に違反する行為、またはその恐れがある行為</li>
			<li>その他、運営者が不適切と判断する行為</li>
		</ol>
		<h3>免責事項</h3>
		<p>ユーザーは、本サービスの利用において発生したいかなる損害について、運営者が賠償責任を負わないことに同意します。</p>
		<p>本サービスの利用は、利用者自身の責任で行なうものとします。<p>
		<h3>サービスの停止</h3>
		<p>運営者の判断により本サービスの運用を一時あるいは無期限で中止することができるものとします。</p>
	</div>
</div>

<!--[if lt IE 9]>
<script src="/js/ie/html5shiv.min.js"></script>
<script src="/js/ie/respond.min.js"></script>
<![endif]-->
<script src="/js/lib/jquery-1.11.3.min.js"></script>
<script src="/js/lib/bootstrap.min.js?20160507a"></script>
</body>
</html>
